<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
    <script src="index.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>         
<div>
      <h2>Jumping Jack</h2>
      <p>Reps: {count}</p>

      <button onClick={() => setCount(count + 1)}>
        Add Rep
      </button>

      <button onClick={() => setCount(0)}>
        Reset
      </button>

      <button>
        <a href="https://RobertoVenom.github.io/React_Excerise_App/src/app.html">Return</a>
      </butoon>
</div>
</body>
</html>
