<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
    <script src="index.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>
    <div className="App">
      <h2>Plank</h2>
      <p>{formatTime(time)}</p>

      <button onClick={() => setRunning(true)}>
        Start
      </button>

      <button onClick={() => {
        setRunning(false);
        setTime(0);
      }}>
        Reset
      </button>

      <button>
        <a href="https://RobertoVenom.github.io/React_Excerise_App/src/app.html">Return</a>
      </butoon>
  </div>
</body>
</html>
