<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
    <script src="index.js"></script>
  <link rel="stylesheet" href="index.css">
</head>
<body>
    <div className="App">
        <h1>Ready for this</h1>
        <h2>Exercise: Jumping Jacks</h2>
        <p>Jumps: <span id="addCount">0</span></p>
        <button onClick="addCount">Add</button>
        <button id="reset">Reset</button>
        <buttontype id="return"><a href="https://RobertoVenom.github.io/React_Excerise_App/src/app.html">Return</a></button> 
      </div>
</body>
</html>